body{
    background-color: lightblue;
}
.name{
    color:blue;
}
.age{
    color: green;
}   
.Nikho{
    color: red;
}
li{
    color: green;
}
a{
    color: white;
}
td{
    color: purple;
}
th{
    color: ;
}
table, th, td {
    border: 2px solid white;
    border-collapse: collapse;
  }