body{
    background-color: lightblue;
}
.name{
    color:blue;
}
.age{
    color: green;
}   
.Nikho{
    text-decoration: underline;
    text-decoration-color: brown;
    padding: auto;
    margin: 10px;
    color: red;
}
li{
    color: green;
}
a{
    color: white;
}
td{
    color: purple;
}

table,th,td {
    border: 2px solid white;
    border-collapse: collapse;
  }
h1{
    color: brown; 
}
h1 time{
    font-size: 13px;
    color: black;
    margin-left: 10px;
}
nav{
    background-color:none;
    padding: 10px;
    margin-bottom: 20px;
}
nav a{
    text-decoration: none;
    margin: 10px;
    font-size: 20px;
}
nav a:hover{
    color: red;
}
button{
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: none;
}
button:hover{
    background-color: green;
    cursor: pointer;
}           

