body{
    background-color: lightblue;
}
.name{
    color:blue;
}
.age{
    color: green;
}   
.Nikho{
    text-decoration: underline;
    text-decoration-color: brown;
    padding: auto;
    margin: 10px;
    color: red;
}
li{
    color: green;
}
a{
    color: white;
}
td{
    color: purple;
}

table,th,td {
    border: 2px solid white;
    border-collapse: collapse;
  }
h1{
    color: brown; 
}
h1 time{
    font-size: 13px;
    color: black;
    margin-left: 10px;
}
nav{
    background-color:none;
    padding: 10px;
    margin-bottom: 20px;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav ul li{
    float: left;
    margin-right: 10px;
}
nav ul li a{
    display: block;
    color: blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

